// @import 'react-select/dist/react-select.css';
.nav-bar{
  height: 50px;
}
.activity-icons{
  i{
    font-size: 40px;
    font-style: bold;
  }
}
button{
  margin: 5%;
}
.Select-input{
  input{
    width: 50% !important;
  }
}
