// @import 'react-select/dist/react-select.css';
$base-bg-colr : #f7f7f7;
$base-colr : #FFBB00;
.nav-bar{
  background-color: $base-colr !important;
  svg,button,h1,span{
    color: black !important;
    font-weight: bold !important;
    fill : black !important;
  }
}

.card{
  margin: 15% auto;
  width: 25%;
  height: 221px;
  background: $base-bg-colr !important;
  padding: 2.5% 2.5% 1.5% 2.5% ;
  display: flex;
  align-items: center;
  .username,.password{
    width: 100% !important;
  }
  .card-actions{
    text-align: center;
    // width: 100% !important;
    .Submit-btn{
      // width: 100% !important;
    }
  }
  .circular-progress{
    margin:0 auto !important;
    padding-left: 45%;
  }

}



.activity-icons{
  i{
    font-size: 40px;
    font-style: bold;
  }
}
button{
  margin: 5%;
}
.Select-input{
  input{
    width: 50% !important;
  }
}
