// @import 'react-select/dist/react-select.css';
$base-bg-colr : #FFBB00;
.nav-bar{
  background-color: $base-bg-colr !important;
}
.activity-icons{
  i{
    font-size: 40px;
    font-style: bold;
  }
}
button{
  margin: 5%;
}
.Select-input{
  input{
    width: 50% !important;
  }
}
