$base-bg-colr : rgb(232, 232, 232);
body{
	background: $base-bg-colr;
}
.notice-board{
  min-height: 500px;
}
.row{
  margin: 0px;
}
.todo-body{
  width: 100% !important;
}
.notice-board-container{
  padding: 0px;
}
.done-btn{
    margin: 0% 0% 2% 80%;

}
